<h1>練習予定登録画面</h1>
<%= form_with model: @practice, url:'/top/practice_create',  local:true do |f| %>
  <h2>場所</h2>
  <%= f.collection_select :spot, Place.all, :id, :name%>
  <h2>日付</h2>
  <%= f.date_field :date %>
  <h2>開始時間</h2>
  <%= f.select :start, [[0,0],[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12],[13,13],[14,14],[15,15],[16,16],[17,17],[18,18],[19,19],[20,20],[21,21],[22,22],[23,23]] %>時
  <h2>終了時間</h2>
  <%= f.select :end, [[0,0],[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12],[13,13],[14,14],[15,15],[16,16],[17,17],[18,18],[19,19],[20,20],[21,21],[22,22],[23,23]] %>時
  <h2><%= f.submit "登録", class:"btn btn-success"%></h2>
<% end %>